<template>
	<div>
		
		<b-carousel
			:interval="4000"
			controls
			indicators
			background="#CCC"
			img-width="1024"
			img-height="450"
		>
			
			<b-carousel-slide 
				text="Maximum Coverage and Stability"
				img-src="https://www.nexxtsolutions.com/media/Banner-Mesh-top_02-v2.jpg"
				>
			</b-carousel-slide>
			
			<b-carousel-slide 
				text="Vektor"
				img-src="https://www.nexxtsolutions.com/media/Banner-Mesh-top_1.jpg"
				>
			</b-carousel-slide>
			
			<b-carousel-slide 
				text="True Mesh Technology"
				img-src="https://www.nexxtsolutions.com/media/Banner-Mesh-top_03.jpg"
				>
			</b-carousel-slide>

		</b-carousel>

	</div>
</template>