<template>
	<div>
		<div class="title-category">
			<h2>Experience Wifi Like Never Before</h2>
			<p>
				Efficient Wi-Fi connectivity that covers every corner of your home
				Modular Mesh system for a unique Wireless experience
			</p>			
		</div>
		<b-container>
			<b-row>
				<b-col>
					<div class="category-container">
						<div class="category-item" style="background-image: url(https://www.nexxtsolutions.com/media/RollOver_G2400_1.jpg);">
							<div class="category-item-info">
								<b-img src="https://www.nexxtsolutions.com/media/vk_Icono_01.png"></b-img>
								<div>Speed</div>
								<span>Vector G2400</span>
							</div>
						</div>
						<div class="category-item" style="background-image: url(https://www.nexxtsolutions.com/media/Banner-Mesh-Banner_Vektor_3600.jpg);">
							<div class="category-item-info">
								<b-img src="https://www.nexxtsolutions.com/media/vk_Icono_02.png"></b-img>
								<div>Coverage</div>
								<span>Vector 3600</span>
							</div>
						</div>
						<div class="category-item" style="background-image: url(https://www.nexxtsolutions.com/media/Banner-Mesh-Banner_2_2400.jpg);">
							<div class="category-item-info">
								<b-img src="https://www.nexxtsolutions.com/media/vk_Icono_03.png"></b-img>
								<div>Stability</div>
								<span>Vector 2400</span>
							</div>
						</div>
					</div>
				</b-col>
			</b-row>
		</b-container>
	</div>
</template>

<style scoped>
	
	.title-category {
		text-align: center;
		margin: 20px 15px 25px;
	}

	h2 {
		margin-bottom: 20px;
	}

	.category-container {

	}

	.category-item {
		position: relative;
	    display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    align-content: center;
	    justify-content: center;
	    align-items: center;
	    height: 280px;
	    margin-bottom: 15px;

	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    color: #FFF;
	}

	.category-item:before {
	    content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    background-color: #0003;
	    z-index: 10;
	}

	.category-item-info {
		text-align: center;
		z-index: 100;
		position: relative;
		font-size: 20px;
	}

	.category-item-info img {
		height: 120px;
		margin-bottom: 15px;
	}

</style>