<template>
	
	<footer>
		
		<b-container>
		 	<b-row>
		 		<b-col cols="3" >
		 			<b-img src="/imgs/nexxt-logo.svg" alt="Nexxt Logo"></b-img>
		 		</b-col>
		 		<b-col cols="9">
		 			<b-row>
				 		<b-col>
				 			<ul>
				 				<li>
				 					<a hrer="#">Nexxt Universe</a>
				 				</li>
				 				<li>
				 					<a hrer="#">Support</a>
				 				</li>
				 				<li>
				 					<a hrer="#">Where to buy</a>
				 				</li>
				 				<li>
				 					<a hrer="#">Catalog</a>
				 				</li>
				 				<li>
				 					<a hrer="#">Smart Home</a>
				 				</li>
				 				<li>
				 					<a hrer="#">Support</a>
				 				</li>
				 			</ul>
				 		</b-col>
				 		<b-col>
					 		<b-row>
						 		<b-col>
						 			<label>Contact Us</label>
						 			<div>
						 				
						 			</div>
						 		</b-col>
						 		<b-col>
						 			<label>Follow us</label>
						 			<div>
						 				
						 			</div>
						 		</b-col>
						 	</b-row>
						 	<b-row>
						 		<b-col>
						 			<b-form >
						 				<h4>Sign Up for Our Newsletter</h4>
						 				<b-form-input type="email" placeholder="Enter your email address"></b-form-input>
						 			</b-form>
						 		</b-col>
						 	</b-row>
						 </b-col>
				 	</b-row>
				 </b-col>
		 	</b-row>
		</b-container>

	</footer>

</template>

<style scoped>
	footer {
		padding: 50px 15px;
		background: #EEE;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	a {
		color: green;
	}

	h4 {
		font-size: 13px;
		font-weight: 400;
	}
</style>