<template>
	
	<header>
		
		<b-navbar toggleable="lg">
			
			<b-navbar-brand>
				Nexxt
			</b-navbar-brand>

			<b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

			<b-collapse id="nav-collapse" is-nav>

				<b-navbar-nav>
					<b-nav-item-dropdown right>
						<b-dropdown-item>Wifi Routers</b-dropdown-item>
						<b-dropdown-item>Desktop Switches</b-dropdown-item>
						<b-dropdown-item>Rackmount Switches</b-dropdown-item>
						<b-dropdown-item>Wifi Mesh</b-dropdown-item>
					</b-nav-item-dropdown>
				</b-navbar-nav>
				
				<b-navbar-nav>
					<b-nav-item href="#">Nexxt Universe</b-nav-item>
					<b-nav-item href="#">Support</b-nav-item>
					<b-nav-item href="#">Catalog</b-nav-item>
				</b-navbar-nav>
				
				<b-navbar-nav>
					<b-nav-item-dropdown right>
						<b-dropdown-item>Discover our solutions</b-dropdown-item>
						<b-dropdown-item>Help</b-dropdown-item>
					</b-nav-item-dropdown>
				</b-navbar-nav>

			</b-collapse>

		</b-navbar>

	</header>

</template>