<template>
	<div>
		<div> --- Products ---- </div>
		<b-carousel
			:interval="4000"
			controls
			indicators
			background="#CCC"
			img-width="1024"
			img-height="450"
		>
			
			<b-carousel-slide 
				img-src="https://www.nexxtsolutions.com/media/NCM-G2400-2.jpg"
				>
			</b-carousel-slide>
			
			<b-carousel-slide 
				img-src="https://www.nexxtsolutions.com/media/NCM-G2400-3.jpg"
				>
			</b-carousel-slide>
			
			<b-carousel-slide 
				img-src="https://www.nexxtsolutions.com/media/NCM-G2400-4.jpg"
				>
			</b-carousel-slide>

		</b-carousel>

	</div>
</template>