<template>
	<div>
		
		<a href="#" class="link-video">
			
		</a>

	</div>
</template>

<style type="text/css">
	.link-video {
		display: block;
		background-image: url(https://www.nexxtsolutions.com/media/banner-video-mesh-rs.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 250px;
		margin: 20px 0px;
	}
</style>