<template>
  
  <div id="page">
        
      <Header></Header>

      <Banner></Banner>

      <Experience></Experience>

      <Video></Video>

      <Products></Products>

      <Footer></Footer>

  </div>

</template>

<script>
  export default {
    
  }
</script>